name: build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io 
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - uses: docker/build-push-action@v6.19.2
        with:
          push: true
          tags: ghcr.io/${{ github.repository }}
          build-args: |
            NPM_TOKEN= ${{ secrets.NODE_AUTH_TOKEN }}
          
          
    
